:root {
  --color-orange: #f16718;
  --color-orange-light: #ff9b62;
  --color-deep-blue: #162542;
  --color-deep-blue-light: #7b8bad;
  --color-grey: #e8eff2;
  --color-white: #ffffff;
  --font-family: "Barlow", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-style: normal;
}

body {
  font-family: var(--font-family);
  color: var(--color-deep-blue-light);
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
/* 
main {
  padding: 1.5rem;
} */

.content-container {
  max-width: 23.4rem;
  background-color: var(--color-white);
  overflow-x: clip;
  overflow-clip-margin: content-box;
}

.preorder-link {
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: var(--color-grey);
  color: #162542;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: uppercase;
  padding: 0.69rem 0.81rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.site-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.page-title {
  color: var(--color-deep-blue);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 4.69rem;
}

.page-description {
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  margin-top: 2rem;
}

.order-flex-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.pre-order__button {
  color: var(--color-white);
  border-radius: 0.5rem;
  background-color: var(--color-orange);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: normal;
  border: none;
  font-weight: 700;
  line-height: 1.625rem;
  padding: 0.69em 0.81em;
}

.release-date__text {
  color: var(--color-deep-blue-light);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: uppercase;
}

/* .intro-container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
} */

/* .mechanical-keyboard-image {
  height: auto;
  max-width: 20.25rem;
  min-height: 20.6875rem;
  border-radius: 2.4rem;
}

.myImage {
  overflow: clip;
  overflow-clip-margin: content-box 2.4rem;
  object-fit: cover;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

.mechanical-keyboard-image {
  margin: 3.9rem 0 2.4rem 1.5rem;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  overflow-clip-margin: 20px;
}
